<!-- Navbar -->
<app-header [pages]="pages" [page]="page"></app-header>
<!-- End Navbar -->
<div class="container-fluid py-4">

  <div class="card card-body mt-2" *ngIf="sectionOne">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Section One</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5>
                    {{ sectionOne.header }} <span>{{ sectionOne.headerSpan }}</span>
                  </h5>
                </a>
                <a>
                  <h5>
                    {{ sectionOne.title }} <span>{{ sectionOne.titleSpan }}</span>
                  </h5>
                </a>
                <div class="mb-4 text-sm" [innerHtml]="sectionOne.desc"></div>
                <div class="mb-4 text-sm" [innerHtml]="sectionOne.desc2"></div>
                <div class="mb-4 text-sm" [innerHtml]="sectionOne.desc3"></div>
                <!-- <div class="mb-4 text-sm" [innerHtml]="sectionOne.conference"></div> -->
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionOne.btnText }}</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionOne = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionOne">
              <div class="body">

                <form (ngSubmit)="onEditSubmit()" [formGroup]="formOne" *ngIf="sectionOne">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="header" type="text" class="form-field__input" placeholder=" " #header
                        formControlName="header" [(ngModel)]="sectionOne.header" />
                      <label for="header" class="form-field__label">Breadcrumb Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="headerSpan" type="text" class="form-field__input" placeholder=" " #headerSpan
                        formControlName="headerSpan" [(ngModel)]="sectionOne.headerSpan" />
                      <label for="headerSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionOne.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionOne.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #desc
                        formControlName="desc" [(ngModel)]="sectionOne.desc"></textarea>
                      <label for="additionalInfo" class="form-field__label">
                        Paragraph One</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #desc2
                        formControlName="desc2" [(ngModel)]="sectionOne.desc2"></textarea>
                      <label for="additionalInfo" class="form-field__label">
                        Paragraph Two</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #desc3
                        formControlName="desc3" [(ngModel)]="sectionOne.desc3"></textarea>
                      <label for="additionalInfo" class="form-field__label">
                        Paragraph Three</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionOne.btnText" [(ngModel)]="sectionOne.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionOne = false">Close</button>

                  <button class="app-btn" (click)="onEditSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-2" *ngIf="sectionTwo">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Section Two</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5>
                    {{ sectionTwo.header }} <span>{{ sectionTwo.headerSpan }}</span>
                  </h5>
                </a>
                <a>
                  <h5>
                    {{ sectionTwo.title }} <span>{{ sectionTwo.titleSpan }}</span>
                  </h5>
                </a>
                <div class="mb-4 text-sm" [innerHtml]="sectionTwo.desc"></div>
                <div class="mb-4 text-sm mt-2" [innerHtml]="sectionTwo.par"></div>
                <ul>
                  <li *ngFor="let item of sectionTwo.audienceBenefits">
                    {{ item }}
                  </li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionTwo.btnText }}</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionTwo = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionTwo">
              <div class="body">

                <form (ngSubmit)="onSectionTwoSubmit()" [formGroup]="formTwo" *ngIf="sectionTwo">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="header" type="text" class="form-field__input" placeholder=" " #header
                        formControlName="header" [(ngModel)]="sectionTwo.header" />
                      <label for="header" class="form-field__label">Breadcrumb Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="headerSpan" type="text" class="form-field__input" placeholder=" " #headerSpan
                        formControlName="headerSpan" [(ngModel)]="sectionTwo.headerSpan" />
                      <label for="headerSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionTwo.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionTwo.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #desc
                        formControlName="desc" [(ngModel)]="sectionTwo.desc"></textarea>
                      <label for="additionalInfo" class="form-field__label">
                        Paragraph One</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="par" type="text" class="form-field__input" placeholder=" " #par formControlName="par"
                        [(ngModel)]="sectionTwo.par" />
                      <label for="par" class="form-field__label">Audience Catch Phrase</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionTwo.btnText" [(ngModel)]="sectionTwo.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem2(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl2 == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionTwo = false">Close</button>

                  <button class="app-btn" (click)="onSectionTwoSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-2" *ngIf="sectionThree">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Section Three</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5 [innerHtml]="sectionThree.title"></h5>
                </a>
                <a>
                  <div [innerHtml]="sectionThree.subtitle"></div>
                </a>
                <div class="mb-4 text-sm mt-2" [innerHtml]="sectionTwo.par"></div>
                <ul>
                  <li *ngFor="let item of sectionThree.audienceBenefits">
                    {{ item }}
                  </li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionThree.btnText }}</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionThree = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionThree">
              <div class="body">

                <form (ngSubmit)="onSectionThreeSubmit()" [formGroup]="formThree" *ngIf="sectionThree">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionThree.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #subtitle
                        formControlName="subtitle" [(ngModel)]="sectionThree.subtitle"></textarea>
                      <label for="additionalInfo" class="form-field__label">
                        Description</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionThree.btnText"
                        [(ngModel)]="sectionThree.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="par" type="text" class="form-field__input" placeholder=" " #par formControlName="par"
                        [(ngModel)]="sectionThree.par" />
                      <label for="par" class="form-field__label">Audience Catch Phrase</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem3(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl3 == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionThree = false">Close</button>

                  <button class="app-btn" (click)="onSectionThreeSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-2" *ngIf="sectionFour">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Section Four</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5 [innerHtml]="sectionFour.title"></h5>
                </a>
                <a>
                  <div [innerHtml]="sectionFour.subtitle"></div>
                </a>
                <div class="mb-4 text-sm mt-2" [innerHtml]="sectionFour.par"></div>
                <ul>
                  <li *ngFor="let item of sectionFour.audienceBenefits">
                    {{ item }}
                  </li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionFour.btnText }}</button>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionFour = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionFour">
              <div class="body">

                <form (ngSubmit)="onSectionFourSubmit()" [formGroup]="formFour" *ngIf="sectionFour">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionFour.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #subtitle
                        formControlName="subtitle" [(ngModel)]="sectionFour.subtitle"></textarea>
                      <label for="additionalInfo" class="form-field__label">
                        Description</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="par" type="text" class="form-field__input" placeholder=" " #par formControlName="par"
                        [(ngModel)]="sectionFour.par" />
                      <label for="par" class="form-field__label">Audience Catch Phrase</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionFour.btnText" [(ngModel)]="sectionFour.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem4(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl4 == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionFour = false">Close</button>

                  <button class="app-btn" (click)="onSectionFourSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>

</div>
