<!-- Navbar -->
<app-header [pages]="pages" [page]="page"></app-header>
<!-- End Navbar -->
<div class="container-fluid py-4">

  <div class="card card-body mt-2" *ngIf="sectionOne">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">About Us Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="row">
              <div class="col-md-6">
                <div class="card card-blog card-plain">
                  <div class="card-header p-0 mt-n4 mx-3">
                    <a class="d-block shadow-xl border-radius-xl">
                      <img [src]="sectionOne.imageUrl" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-blog card-plain">
                  <div class="card-body p-3">
                    <a>
                      <h5>
                        {{ sectionOne.title }} <span>{{ sectionOne.titleSpan }}</span>
                      </h5>
                    </a>
                    <p class="mb-4 text-sm">{{ sectionOne.subtitle }}</p>
                    <p class="mb-4 text-sm">{{ sectionOne.desc }}</p>
                    <p class="mb-4 text-sm">{{ sectionOne.para1 }}</p>
                    <p class="mb-4 text-sm">{{ sectionOne.para2 }}</p>
                    <p class="mb-4 text-sm">{{ sectionOne.para3 }}</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionOne.btnText }}</button>
                    </div>

                    <hr style="margin-top: 30px;">

                    <a>
                      <h5>
                        {{ sectionOne.titleTwo }} <span>{{ sectionOne.titleTwoSpan }}</span>
                      </h5>
                    </a>
                    <ul>
                      <li *ngFor="let item of qualifications">
                        {{ item.title }} <br>
                        <button type="button" class="btn btn-outline-primary btn-sm mb-1"
                          (click)="deleteQualification(item.id)">
                          Delete
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionOne = true">Edit
                  Content</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-secondary btn-sm" (click)="canUploadSectionOne = true">Update
                  Image</button>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-success btn-sm" (click)="canAddQualification = true">+
                  Qualification</button>
              </div>
            </div>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionOne">
              <div class="body">

                <form (ngSubmit)="onEditSubmit()" [formGroup]="formAbout" *ngIf="sectionOne">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionOne.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionOne.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="subtitle" class="form-field__textarea" placeholder=" " #subtitle
                        formControlName="subtitle" [(ngModel)]="sectionOne.subtitle"></textarea>
                      <label for="subtitle" class="form-field__label">Subtitle</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="desc" class="form-field__textarea" placeholder=" " #desc formControlName="desc"
                        [(ngModel)]="sectionOne.desc"></textarea>
                      <label for="desc" class="form-field__label">Paragraph One</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="para1" class="form-field__textarea" placeholder=" " #para1 formControlName="para1"
                        [(ngModel)]="sectionOne.para1"></textarea>
                      <label for="para1" class="form-field__label">Paragraph Two</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="para2" class="form-field__textarea" placeholder=" " #para2 formControlName="para2"
                        [(ngModel)]="sectionOne.para2"></textarea>
                      <label for="para2" class="form-field__label">Paragraph Three</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="para3" class="form-field__textarea" placeholder=" " #para3 formControlName="para3"
                        [(ngModel)]="sectionOne.para3"></textarea>
                      <label for="para3" class="form-field__label">Paragraph Four</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="input-group input-group-static my-3">
                    <input type="text" class="form-control" #titleTwo formControlName="titleTwo" required
                      [(ngModel)]="sectionOne.titleTwo">
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionOne.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                  <hr>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleTwo" type="text" class="form-field__input" placeholder=" " #titleTwo
                        formControlName="titleTwo" [(ngModel)]="sectionOne.titleTwo" />
                      <label for="titleTwo" class="form-field__label">Qualifications Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleTwoSpan" type="text" class="form-field__input" placeholder=" " #titleTwoSpan
                        formControlName="titleTwoSpan" [(ngModel)]="sectionOne.titleTwoSpan" />
                      <label for="titleTwoSpan" class="form-field__label">Qualifications Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionOne = false">Close</button>

                  <button class="app-btn" (click)="onEditSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

            <div class="form" *ngIf="canAddQualification">
              <div class="body">

                <form (ngSubmit)="submitQualification()" [formGroup]="qualificationForm">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" />
                      <label for="title" class="form-field__label">Qualification Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionOne = false">Close</button>

                  <button class="app-btn" (click)="submitQualification()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save</span>
                  </button>

                </div>
              </div>
            </div>

            <div class="form" *ngIf="canUploadSectionOne">
              <div class="body">

                <form (ngSubmit)="onSectionOneImageSubmit()" *ngIf="sectionOne">

                  <div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)"
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
                    <div class="row">
                      <div class="form_line">
                        <div class="form_controls">
                          <div class="upload_button_holder">
                            <label class="upload_button" for="fileupload">Select Image to Upload Here</label>
                            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
                              [uploader]="uploader" (change)="fileInput.value=''" multiple />
                          </div>

                        </div>
                      </div>
                      <div class="file" *ngFor="let response of responses; let i = index">
                        <p>{{response.file.name}}</p>
                        <div class="status">
                          <div *ngIf="!response.status">
                            In progress... {{response.progress}}%
                          </div>
                          <div class="status-code" *ngIf="response.status">Upload completed</div>
                        </div>

                        <div class="requestProgress" *ngIf="!response.status">
                          <div class="bar">
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="file" *ngFor="let response of responses; let i = index">
                        <div class="form_line">
                          <div class="form_controls">
                            <div class="preview" *ngIf="uploadedUrl != ''">
                              <img [src]="uploadedUrl" alt="" width="300px">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canUploadSectionOne = false">Close</button>

                  <button class="app-btn" (click)="onSectionOneImageSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-4" *ngIf="sectionTwo">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Call To Action Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5>
                    {{ sectionTwo.title }} <span>{{ sectionTwo.titleSpan }}</span>
                  </h5>
                </a>
                <p class="mb-4 text-sm">{{ sectionTwo.desc }}</p>
                <p class="mb-4 text-sm">{{ sectionTwo.para }}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionTwo.btnText }}</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionTwo = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionTwo">
              <div class="body">

                <form (ngSubmit)="onEditSubmit()" [formGroup]="sectionCtaForm" *ngIf="sectionTwo">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionTwo.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionTwo.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="desc" class="form-field__textarea" placeholder=" " #desc formControlName="desc"
                        [(ngModel)]="sectionTwo.desc"></textarea>
                      <label for="desc" class="form-field__label">Paragraph One</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="para" class="form-field__textarea" placeholder=" " #para formControlName="para"
                        [(ngModel)]="sectionTwo.para"></textarea>
                      <label for="para" class="form-field__label">Paragraph Two</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionOne.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionTwo = false">Close</button>

                  <button class="app-btn" (click)="onSectionTwoSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>

</div>
