<h4>Sign In</h4>
<p>Please provide you authentication details to access the administrative portal</p>

<div class="form">
  <div class="body">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div class="input-field">
        <i class="ri-mail-line"></i>
        <input type="email" placeholder="Email Address" #email formControlName="email" required
          (ngModelChange)="checkEmail()" />
      </div>
      <app-input-checker [checker]="noEmail" [message]="noEmailMessage"></app-input-checker>

    </form>
  </div>
  <div class="footer">
    <div class="space-between">
      <button class="app-btn-text" routerLink="/sign-in">
        Cancel
      </button>
      <button class="app-btn" (click)="onSubmit()" [disabled]="isSubmitting" [ngClass]="{'disabled': isSubmitting}">
        <span *ngIf="isSubmitting">
          <i class="ri-loader-2-line"></i> Processing
        </span>
        <span *ngIf="!isSubmitting">Send Request</span>
      </button>
    </div>
  </div>
</div>
