<div class="split-screen">

  <div class="top">
    <div class="logo">
      <img src="../../../assets/images/logo.png" alt="Learning Pirate">
    </div>
    <div>
      <h4>Welcome to </h4>
      <h2>Admin <span>Portal</span></h2>
    </div>
  </div>

  <div class="left">

    <div class="content">
      <div class="logo">
        <img src="../../../assets/images/logo.png" alt="Learning Pirate">
      </div>
      <h4>Welcome to </h4>
      <h2>Admin <span>Portal</span></h2>

      <img src="../../../assets/images/workhard.png" alt="" class="img">
    </div>

    <div class="footer">
      <a routerLink="/"> © Learning Pirate {{ year }}. All Rights Reserved</a>
    </div>

  </div>
  <div class="right">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
