/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*== ROOT VARIABLES ==*/
:root {
  --font-family: "Quicksand", sans-serif;
  --primary: #0095e7;
  --primary-light: #0095e710;
  --primary-2: #4169e1;
  --secondary-2: #263043;
  --secondary: #000000;
  --danger: rgb(223, 9, 9);
  --warning: #ffbb55;
  --success: teal;
  --white: #ffffff;
  --text: #2e2d2d;
  --background: #ececee;
  --header-bg: #ffffff;
  --shadow: #eaeaf3;
  --placeholder: #636363;

  --box-shadow: 0 0 toRem(10) toRem(-2) var(--shadow);
  --border-radius: toRem(10);
  --switch-bgLightModeColor: #87cefa;
  --switch-sunColor: gold;
  --switch-moonColor: #f4f4f4;
  --switch-bgDarkModeColor: #1f1f27;

  --sidebar-width: 250px;
}

/* ========== DARK THEME ====== */
.dark-version {
  --secondary: #f0efef;
  --secondary-2: #ffffff;
  --background: #181a1e;
  --header-bg: #1f283e;
  --white: #202528;
  --text: #edeffd;
  --shadow: #272727;
  --box-shadow: 0 1rem 1.5rem var(--shadow);
  --placeholder: #d8d5d5;
}

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  font-size: 100%;
  font-size: 1rem;
  line-height: 1.5;
  background: var(--background);
  user-select: none;
  overflow-x: hidden;
  color: var(--text-color);
}

.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 17rem auto 23rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-2);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h1 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--info-dark);
}

p {
  color: var(--text-color);
}

b {
  color: var(--dark);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.danger {
  color: var(--danger);
}

.success {
  color: var(--success);
}

.warning {
  color: var(--warning);
}

.white {
  color: var(--white);
}

.primary-bg {
  background: var(--primary);
  color: var(--white);
}

.secondary-bg {
  background: var(--secondary);
  color: var(--white);
}

.danger-bg {
  background: var(--danger);
  color: var(--white);
}

.success-bg {
  background: var(--success);
  color: var(--white);
}

.warning-bg {
  background: var(--warning);
  color: var(--white);
}

.white-bg {
  background: var(--white);
  color: var(--white);
}

.info-bg {
  background: var(--switch-bgLightModeColor);
  color: #1f283e;
}

.img-holder {
  width: toRem(150);
  width: auto;
}

.img-holder img {
  width: 100%;
}

.svg {
  width: 50px;
}
.svg img {
  width: 100%;
}

.upload_button_holder {
  margin-top: 30px;
}

.upload_button {
  background: var(--background);
  color: var(--primary);
  border-radius: 50px;
  padding: 0.7rem 2.5rem;
  cursor: pointer;
}

.requestProgress {
  margin: 30px 0px;
  width: 100%;
  height: 2px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    #007db6,
    #0091b2,
    #009c9e,
    #00a77e,
    #22b24c,
    #60b031,
    #a5b62e
  );
}

.bar {
  position: absolute;
  width: calc(100% * 2 / 7);
  height: 100%;
  display: flex;
  animation: move 2s linear infinite;
  background-color: white;
}

@keyframes move {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(calc(7 / 2 * 100%), 0);
  }
}

/* ======= Authentication ======= */
.split-screen {
  display: grid;
  grid-template-columns: 50% auto;
}

.split-screen .left {
  padding: toRem(50) toRem(100) toRem(50) toRem(100);
  height: 100vh;
  background-color: var(--secondary-2);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/images/tldp.png) center/cover no-repeat;
  position: relative;
  overflow-x: hidden;
}

.split-screen .left .logo img {
  height: toRem(100);
  width: auto;
  margin-bottom: toRem(50);
}

.split-screen .left .content h2 {
  font-size: toRem(40);
  line-height: toRem(60);
  color: var(--white);
  font-weight: 600;
}

.split-screen .left .content .img {
  margin: toRem(30) toRem(0);
  width: 60%;
}

.split-screen .left .content h4 {
  font-size: toRem(20);
  line-height: toRem(30);
  color: var(--white);
  font-weight: 400;
}

.split-screen .left .footer {
  position: absolute;
  bottom: toRem(50);
  width: 100%;
}

.split-screen .left .footer a {
  color: var(--white);
}

.split-screen .right {
  height: 100vh;
  padding: toRem(100) toRem(100) toRem(50) toRem(100);
}

.split-screen .right .content {
  padding: toRem(30);
  border-radius: toRem(10);
  background: var(--white);
}

.split-screen .right .content h4 {
  font-size: toRem(25);
  line-height: toRem(38);
  margin-bottom: toRem(10);
  font-weight: bold;
}

.split-screen .right .content p {
  margin-bottom: toRem(30);
}

.form {
  margin-top: toRem(20);
}

.form .body {
  margin-top: toRem(20);
}

.form .footer {
  margin-top: toRem(30);
}

/* ======== Gen ========= */
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

/* ======== form ========= */

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.input-field {
  width: 100%;
  background-color: var(--background);
  margin: toRem(10) 0;
  height: toRem(55);
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 0 toRem(4);
  position: relative;
  border-radius: toRem(10);
  color: var(--text);
}

.input-field i {
  text-align: center;
  line-height: toRem(55);
  color: var(--placeholder);
  transition: 0.5s;
  font-size: toRem(16);
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: toRem(16);
  line-height: toRem(24);
  color: var(--text);
}

.input-field input::placeholder {
  color: var(--placeholder);
  font-weight: 400;
}

.input-field-password {
  width: 100%;
  background-color: var(--background);
  margin: toRem(10) 0;
  height: toRem(55);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 0 toRem(4);
  position: relative;
  border-radius: toRem(10);
  color: var(--text);
}

.input-field-password i {
  text-align: center;
  line-height: toRem(55);
  color: var(--placeholder);
  transition: 0.5s;
  font-size: toRem(16);
}

.input-field-password span {
  text-align: center;
  line-height: toRem(55);
  color: var(--placeholder);
  transition: 0.5s;
  font-size: toRem(16);
}

.input-field-password input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: toRem(16);
  color: var(--text);
}

.input-field-password input::placeholder {
  color: var(--placeholder);
  font-weight: 500;
}

.app-btn.disabled {
  background: var(--background);
  color: var(--text-color);
}

.app-btn {
  font-size: toRem(16);
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: toRem(50);
  background: var(--primary);
  padding: toRem(10) toRem(30);
  border: none;
  height: toRem(40);
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  font-weight: 600;
}

.app-btn span {
  color: white !important;
}

.app-btn-text {
  font-size: toRem(16);
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  border-radius: toRem(50);
  padding: toRem(10) toRem(30);
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  font-weight: 600;
}

.app-btn-text span {
  color: var(--text-color) !important;
}

span {
  color: var(--primary);
}

.forgot-password {
  cursor: pointer;
  position: relative;
  float: right;
}

.theme-toggler {
  background: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 3.3rem;
  cursor: pointer;
  border-radius: toRem(50);
}

.theme-toggler i {
  font-size: 0.95rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggler i.active {
  background: var(--primary);
  color: var(--white);
  border-radius: toRem(50);
}

/* ========== CUSTOM ========== */
.mc {
  margin-top: toRem(55);
  padding-top: toRem(55);
}
.sidenav-header {
  height: toRem(110);
}
.navbar .navbar-brand {
  color: var(--white);
  font-size: toRem(24);
  font-weight: 600;
}
.sidenav .navbar-brand {
  padding: toRem(20) toRem(40);
}
.navbar-vertical .navbar-brand > img,
.navbar-vertical .navbar-brand-img {
  max-width: toRem(110);
  max-height: toRem(110);
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  display: block;
  overflow: auto;
  height: calc(100vh - 180px);
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
  pointer-events: none;
  font-size: toRem(18);
}

.bg-gradient-primary {
  background-image: linear-gradient(
    195deg,
    var(--primary) 0%,
    var(--primary-2) 100%
  );
  box-shadow: 0 3px 3px 0 var(--primary-light),
    0 3px 1px -2px var(--primary-light), 0 1px 5px 0 var(--primary-light);
}
.shadow-primary {
  box-shadow: 0 3px 3px 0 var(--primary-light),
    0 3px 1px -2px var(--primary-light), 0 1px 5px 0 var(--primary-light) !important;
}

.btn-primary,
.btn.bg-gradient-primary {
  box-shadow: 0 3px 3px 0 var(--primary-light),
    0 3px 1px -2px var(--primary-light), 0 1px 5px 0 var(--primary-light) !important;
}
.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.input-group.input-group-dynamic .form-control,
.input-group.input-group-dynamic .form-control:focus,
.input-group.input-group-static .form-control,
.input-group.input-group-static .form-control:focus {
  background-image: linear-gradient(
      0deg,
      var(--primary) 2px,
      rgba(156, 39, 176, 0) 0
    ),
    linear-gradient(0deg, #d2d2d2 1px, rgba(209, 209, 209, 0) 0);
  border-radius: 0 !important;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile .avatar {
  width: toRem(30);
  height: toRem(30);
  border: toRem(2) solid var(--primary);
  border-radius: 50px;
  margin-right: toRem(10);
}
.user-profile .avatar img {
  width: 90%;
}
.user-profile p {
  font-size: toRem(15);
  font-weight: 600;
  margin-bottom: toRem(-5);
}
.user-profile small {
  font-size: toRem(12);
  font-weight: 400;
}
#navbarBlur {
  background: var(--header-bg);
  position: fixed;
  z-index: 99;
  top: 0px;
  width: 82%;
}

.dropbtn {
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  top: toRem(40);
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: toRem(200);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--text);
  padding: toRem(12) toRem(18);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--primary);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.table-holder {
  width: 50%;
}
.table {
  width: 100%;
}
.table td,
.table th {
  white-space: normal !important;
}

.w5 {
  width: 5% !important;
}
.w10 {
  width: 10% !important;
}
.w15 {
  width: 15% !important;
}
.w20 {
  width: 20% !important;
}
.w25 {
  width: 25% !important;
}
.w30 {
  width: 30% !important;
}
.w35 {
  width: 35% !important;
}
.w40 {
  width: 40% !important;
}
.w45 {
  width: 45% !important;
}
.w50 {
  width: 50% !important;
}
.w100 {
  width: 100% !important;
}

/* ========= END CUSTOM ========== */

/* ===== MEDIA QUERIES PHONES & SMALLER TABLETS ====== */
@media screen and (max-width: 599px) {
  .split-screen {
    display: block;
  }

  .split-screen .left {
    display: none;
  }

  .split-screen .top {
    padding: toRem(40) toRem(20) toRem(20) toRem(20);
    height: toRem(105);
    width: 100%;
    background-color: var(--secondary-2);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(assets/images/tldp.png) center/cover no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 60% auto;
  }

  .split-screen .top .logo img {
    height: toRem(60);
    width: auto;
    margin-bottom: toRem(20);
  }

  .split-screen .top h2 {
    font-size: toRem(20);
    line-height: toRem(30);
    color: var(--white);
    font-weight: 600;
  }

  .split-screen .top h4 {
    font-size: toRem(13);
    line-height: toRem(19);
    color: var(--white);
    font-weight: 400;
  }

  .split-screen .right {
    height: 100vh;
    padding: toRem(20) toRem(20) toRem(30) toRem(20);
  }
}

/* ===== MEDIA QUERIES TABLETS & SMALL SCREEN DESKTOP/LAPTOPS ====== */
@media screen and (min-width: 600px) and (max-width: 849px) {
  .split-screen {
    display: block;
  }

  .split-screen .left {
    display: none;
  }

  .split-screen .top {
    padding: toRem(50) toRem(40) toRem(20) toRem(40);
    height: toRem(150);
    width: 100%;
    background-color: var(--secondary-2);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(assets/images/tldp.png) center/cover no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 60% auto;
  }

  .split-screen .top .logo img {
    height: toRem(100);
    width: auto;
    margin-bottom: toRem(20);
  }

  .split-screen .top h2 {
    font-size: toRem(30);
    line-height: toRem(45);
    color: var(--white);
    font-weight: 600;
  }

  .split-screen .top h4 {
    font-size: toRem(20);
    line-height: toRem(30);
    color: var(--white);
    font-weight: 400;
  }

  .split-screen .right {
    height: 100vh;
    padding: toRem(40) toRem(40) toRem(50) toRem(40);
  }
}

@media screen and (min-width: 850px) and (max-width: 1099px) {
  .split-screen .top {
    display: none;
  }

  .split-screen .right {
    height: 100vh;
    padding: toRem(40) toRem(40) toRem(50) toRem(40);
  }
}

@media screen and (min-width: 1100px) {
  .split-screen .top {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #navbarBlur {
    background: var(--header-bg);
    position: fixed;
    z-index: 99;
    top: 0px;
    width: 100%;
  }
}

.selector {
  background: var(--background);
  padding: toRem(10);
  border-radius: 6px;
  align-items: center;
  text-align: center;
}
.selector:hover {
  cursor: pointer;
  color: var(--primary);
}
.selector.active {
  color: var(--primary);
}

/* Actual code example */
$animation-duration: 0.4s;

@mixin label-inactive() {
  font-size: 16px;
  transform: translateY(0);
}

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

.form-field {
  display: block;
  margin-bottom: 16px;
  width: 100%;
}
.form-field__label {
  @include label-active();
  display: block;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 1px 0;
  position: absolute;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
}
.form-field__control {
  background: transparent;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.form-field__bar {
  border-bottom: 2px solid var(--primary-color);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all $animation-duration;
  width: 1%;
}
.form-field__input,
.form-field__textarea {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 1px;
  width: 100%;

  // IE 10-11
  &:-ms-input-placeholder {
    ~ .form-field__label {
      @include label-inactive();
    }
  }
  // All other browsers except Edge
  &:placeholder-shown {
    ~ .form-field__label {
      @include label-inactive();
    }
  }
  &:focus {
    ~ .form-field__label {
      color: var(--primary-color);
      @include label-active();
    }
    ~ .form-field__bar {
      border-bottom: 2px solid var(--primary-color);
      transform: scaleX(150);
    }
  }
}
.form-field__textarea {
  height: 150px;
}
