<!-- Navbar -->
<app-header [pages]="pages" [page]="page"></app-header>
<!-- End Navbar -->
<div class="container-fluid py-4">

  <div class="card card-body mt-2" *ngIf="sectionOne">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6">
                <h6 class="mb-0">Slider Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="row">
              <div class="col-md-6">
                <div class="card card-blog card-plain">
                  <div class="card-header p-0 mt-n4 mx-3">
                    <a class="d-block shadow-xl border-radius-xl">
                      <img [src]="sectionOne.imageUrl" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-blog card-plain">
                  <div class="card-body p-3">
                    <a>
                      <h5>
                        {{ sectionOne.title }} <span>{{ sectionOne.titleSpan }}</span>
                      </h5>
                    </a>
                    <p class="mb-4 text-sm">{{ sectionOne.subtitle }}</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionOne.btnText }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionOne = true">Edit
                  Content</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-sm" (click)="canUploadSectionOne = true">Update
                  Image</button>
              </div>
            </div>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionOne">
              <div class="body">

                <form (ngSubmit)="onEditSubmit()" [formGroup]="formSlider" *ngIf="sectionOne">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionOne.title" />
                      <label for="title" class="form-field__label">Hero Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionOne.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="additionalInfo" class="form-field__textarea" placeholder=" " #subtitle
                        formControlName="subtitle" [(ngModel)]="sectionOne.subtitle"></textarea>
                      <label for="additionalInfo" class="form-field__label">Hero
                        Description</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionOne.btnText" [(ngModel)]="sectionOne.btnText" />
                      <label for="btnText" class="form-field__label">Hero Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionOne = false">Close</button>

                  <button class="app-btn" (click)="onEditSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

            <div class="form" *ngIf="canUploadSectionOne">
              <div class="body">

                <form (ngSubmit)="onSectionOneImageSubmit()" *ngIf="sectionOne">

                  <div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)"
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
                    <div class="row">
                      <div class="form_line">
                        <div class="form_controls">
                          <div class="upload_button_holder">
                            <label class="upload_button" for="fileupload">Select Image to Upload Here</label>
                            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
                              [uploader]="uploader" (change)="fileInput.value=''" multiple />
                          </div>

                        </div>
                      </div>
                      <div class="file" *ngFor="let response of responses; let i = index">
                        <p>{{response.file.name}}</p>
                        <div class="status">
                          <div *ngIf="!response.status">
                            In progress... {{response.progress}}%
                          </div>
                          <div class="status-code" *ngIf="response.status">Upload completed</div>
                        </div>

                        <div class="requestProgress" *ngIf="!response.status">
                          <div class="bar">
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="file" *ngFor="let response of responses; let i = index">
                        <div class="form_line">
                          <div class="form_controls">
                            <div class="preview" *ngIf="uploadedUrl != ''">
                              <img [src]="uploadedUrl" alt="" width="300px">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canUploadSectionOne = false">Close</button>

                  <button class="app-btn" (click)="onSectionOneImageSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-4" *ngIf="sectionTwo">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Meet Lauren Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="row">
              <div class="col-md-6">
                <div class="card card-blog card-plain">
                  <div class="card-header p-0 mt-n4 mx-3">
                    <a class="d-block shadow-xl border-radius-xl">
                      <img [src]="sectionTwo.imageUrl" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-blog card-plain">
                  <div class="card-body p-3">
                    <a>
                      <h5><span>{{ sectionTwo.titleSpan }}</span></h5>
                      <h5>{{ sectionTwo.title }}</h5>
                    </a>
                    <a>
                      <h5 [innerHtml]="sectionTwo.subtitle"></h5>
                    </a>
                    <p class="mb-4 text-sm">{{ sectionTwo.desc }}</p>
                    <p class="mb-4 text-sm">{{ sectionTwo.para }}</p>
                    <div class="d-flex align-items-center justify-content-between">
                      <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionTwo.btnText }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionTwo = true">Edit
                  Content</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-sm" (click)="canUploadSectionTwo = true">Update
                  Image</button>
              </div>
            </div>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionTwo">
              <div class="body">

                <form (ngSubmit)="onEditSubmit()" [formGroup]="sectionTwoForm" *ngIf="sectionTwo">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionTwo.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionTwo.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionTwo.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="desc" class="form-field__textarea" placeholder=" " #desc formControlName="desc"
                        [(ngModel)]="sectionTwo.desc"></textarea>
                      <label for="desc" class="form-field__label">Paragraph One</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="para" class="form-field__textarea" placeholder=" " #para formControlName="para"
                        [(ngModel)]="sectionTwo.para"></textarea>
                      <label for="para" class="form-field__label">Paragraph Two</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <p>Set Button Page</p>

                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of btnPages" (click)="setActiveItem2(item)">
                        <div class="selector" [ngClass]="{'active': selectedBtnPageUrl2 == item.url}">
                          {{ item.title }}
                        </div>
                      </div>
                    </div>

                  </div>

                  <small>NOTE: /membership takes user to Join The Crew page. While /contact-me takes them to contact me
                    page.</small>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionTwo = false">Close</button>

                  <button class="app-btn" (click)="onSectionTwoSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

            <div class="form" *ngIf="canUploadSectionTwo">
              <div class="body">

                <form (ngSubmit)="onSectionTwoImageSubmit()" *ngIf="sectionTwo">

                  <div id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)"
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
                    <div class="row">
                      <div class="form_line">
                        <div class="form_controls">
                          <div class="upload_button_holder">
                            <label class="upload_button" for="fileupload">Select Image to Upload Here</label>
                            <input type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'"
                              [uploader]="uploader" (change)="fileInput.value=''" multiple />
                          </div>

                        </div>
                      </div>
                      <div class="file" *ngFor="let response of responses; let i = index">
                        <p>{{response.file.name}}</p>
                        <div class="status">
                          <div *ngIf="!response.status">
                            In progress... {{response.progress}}%
                          </div>
                          <div class="status-code" *ngIf="response.status">Upload completed</div>
                        </div>

                        <div class="requestProgress" *ngIf="!response.status">
                          <div class="bar">
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="file" *ngFor="let response of responses; let i = index">
                        <div class="form_line">
                          <div class="form_controls">
                            <div class="preview" *ngIf="uploadedUrl != ''">
                              <img [src]="uploadedUrl" alt="" width="300px">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canUploadSectionTwo = false">Close</button>

                  <button class="app-btn" (click)="onSectionTwoImageSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-4" *ngIf="sectionThree">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Help Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5>
                    {{ sectionThree.title }} <span>{{ sectionThree.titleSpan }}</span>
                  </h5>
                </a>
                <p [innerHtml]="sectionThree.subtitle"></p>

                <div class="row">
                  <div class="md-4" *ngIf="sectionThree.itemOne">
                    <div class="card card-plain">
                      <div class="card-header pb-2 p-2">
                        <div class="row">
                          <div class="col-md-2 svg">
                            <img [src]="sectionThree.itemOne.icon" alt="">
                          </div>
                          <div class="col-md-10">
                            {{ sectionThree.itemOne.title }}
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-2">
                        {{ sectionThree.itemOne.desc }}
                      </div>
                    </div>
                  </div>

                  <div class="md-4" *ngIf="sectionThree.itemTwo">
                    <div class="card card-plain">
                      <div class="card-header pb-2 p-2">
                        <div class="row">
                          <div class="col-md-2 svg">
                            <img [src]="sectionThree.itemTwo.icon" alt="">
                          </div>
                          <div class="col-md-10">
                            {{ sectionThree.itemTwo.title }}
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-2">
                        {{ sectionThree.itemTwo.desc }}
                      </div>
                    </div>
                  </div>

                  <div class="md-4" *ngIf="sectionThree.itemThree">
                    <div class="card card-plain">
                      <div class="card-header pb-2 p-2">
                        <div class="row">
                          <div class="col-md-2 svg">
                            <img [src]="sectionThree.itemThree.icon" alt="">
                          </div>
                          <div class="col-md-10">
                            {{ sectionThree.itemThree.title }}
                          </div>
                        </div>
                      </div>
                      <div class="card-body p-2">
                        {{ sectionThree.itemThree.desc }}
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionThree = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionThree">
              <div class="body">

                <form (ngSubmit)="onEditSubmit()" [formGroup]="sectionThreeForm" *ngIf="sectionThree">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionThree.title" />
                      <label for="title" class="form-field__label">Hero Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionThree.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="subtitle" type="text" class="form-field__input" placeholder=" " #subtitle
                        formControlName="subtitle" [(ngModel)]="sectionThree.subtitle" />
                      <label for="subtitle" class="form-field__label">Subtitle</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="itemOneTitle" type="text" class="form-field__input" placeholder=" " #itemOneTitle
                        formControlName="itemOneTitle" [(ngModel)]="sectionThree.itemOne.title" />
                      <label for="itemOneTitle" class="form-field__label">Item One Tile</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="itemOneDesc" type="text" class="form-field__input" placeholder=" " #itemOneDesc
                        formControlName="itemOneDesc" [(ngModel)]="sectionThree.itemOne.desc" />
                      <label for="itemOneDesc" class="form-field__label">Item One Tile</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="itemTwoTitle" type="text" class="form-field__input" placeholder=" " #itemTwoTitle
                        formControlName="itemTwoTitle" [(ngModel)]="sectionThree.itemTwo.title" />
                      <label for="itemTwoTitle" class="form-field__label">Item Two Tile</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="itemTwoDesc" type="text" class="form-field__input" placeholder=" " #itemTwoDesc
                        formControlName="itemTwoDesc" [(ngModel)]="sectionThree.itemTwo.desc" />
                      <label for="itemTwoDesc" class="form-field__label">Item Two Tile</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="itemThreeTitle" type="text" class="form-field__input" placeholder=" " #itemThreeTitle
                        formControlName="itemThreeTitle" [(ngModel)]="sectionThree.itemThree.title" />
                      <label for="itemThreeTitle" class="form-field__label">Item Three Tile</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="itemThreeDesc" type="text" class="form-field__input" placeholder=" " #itemThreeDesc
                        formControlName="itemThreeDesc" [(ngModel)]="sectionThree.itemThree.desc" />
                      <label for="itemThreeDesc" class="form-field__label">Item Three Tile</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionThree = false">Close</button>

                  <button class="app-btn" (click)="onSectionThreeSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-4" *ngIf="sectionFour">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Testimony Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <h5>
                  {{ sectionFour.title }} <span>{{ sectionFour.titleSpan }}</span>
                </h5>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionFour = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionFour">
              <div class="body">

                <form (ngSubmit)="onSectionFourSubmit()" [formGroup]="sectionFourForm" *ngIf="sectionFour">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionFour.title" />
                      <label for="title" class="form-field__label">Hero Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionFour.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionFour = false">Close</button>

                  <button class="app-btn" (click)="onSectionFourSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="card card-body mt-4" *ngIf="sectionFive">
    <div class="row">

      <div class="col-12 col-xl-8">
        <div class="card card-plain h-100">
          <div class="card-header pb-3 p-3">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                <h6 class="mb-0">Call To Action Section</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-3">

            <div class="card card-blog card-plain">
              <div class="card-body p-3">
                <a>
                  <h5>
                    {{ sectionFive.title }} <span>{{ sectionFive.titleSpan }}</span>
                  </h5>
                </a>
                <p class="mb-4 text-sm">{{ sectionFive.subtitle }}</p>
                <p class="mb-4 text-sm">{{ sectionFive.desc }}</p>
                <p class="mb-4 text-sm">{{ sectionFive.para }}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <button type="button" class="btn btn-outline-primary btn-sm mb-0">{{sectionFive.btnText }}</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12 col-xl-4">
        <div class="card card-plain h-100">
          <div class="card-header pb-0 p-3">
            <button type="button" class="btn btn-primary btn-sm" (click)="canEditSectionFive = true">Edit
              Content</button>
          </div>
          <div class="card-body p-3" *ngIf="isAdmin">

            <div class="form" *ngIf="canEditSectionFive">
              <div class="body">

                <form (ngSubmit)="onSectionFiveSubmit()" [formGroup]="sectionFiveForm" *ngIf="sectionFive">

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="title" type="text" class="form-field__input" placeholder=" " #title
                        formControlName="title" [(ngModel)]="sectionFive.title" />
                      <label for="title" class="form-field__label">Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="titleSpan" type="text" class="form-field__input" placeholder=" " #titleSpan
                        formControlName="titleSpan" [(ngModel)]="sectionFive.titleSpan" />
                      <label for="titleSpan" class="form-field__label">Highlighted Title</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="subtitle" class="form-field__textarea" placeholder=" " #subtitle
                        formControlName="subtitle" [(ngModel)]="sectionFive.subtitle"></textarea>
                      <label for="subtitle" class="form-field__label">Subtitle</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="desc" class="form-field__textarea" placeholder=" " #desc formControlName="desc"
                        [(ngModel)]="sectionFive.desc"></textarea>
                      <label for="desc" class="form-field__label">Paragraph Two</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <textarea id="para" class="form-field__textarea" placeholder=" " #para formControlName="para"
                        [(ngModel)]="sectionFive.para"></textarea>
                      <label for="para" class="form-field__label">Paragraph Two</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                  <div class="form-field">
                    <div class="form-field__control">
                      <input id="btnText" type="text" class="form-field__input" placeholder=" " #btnText
                        formControlName="btnText" [(ngModel)]="sectionFive.btnText" />
                      <label for="btnText" class="form-field__label">Button Text</label>
                      <div class="form-field__bar"></div>
                    </div>
                  </div>

                </form>

              </div>
              <div class="footer">
                <div class="space-between">
                  <button class="app-btn-text" (click)="canEditSectionFive = false">Close</button>

                  <button class="app-btn" (click)="onSectionFiveSubmit()" [disabled]="isSubmitting"
                    [ngClass]="{'disabled': isSubmitting}">
                    <span *ngIf="isSubmitting">
                      <i class="ri-loader-2-line"></i> Processing
                    </span>
                    <span *ngIf="!isSubmitting">Save Changes</span>
                  </button>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>

</div>
